<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name" id="name" placeholder="Напиши сюда Название шампуня">
        <textarea name="description" id="description" cols="30" rows="10"placeholder="Напиши сюда Описание"></textarea>
        <input type="text" name="price" id="price" placeholder="Напиши сюда стоимость товара">
        <input type="date" name="created" id="created">
        <input type="submit" value="Отправит">
    </form>
</body>
</html>